development:
  username: "user"
  password: "password"

staging:
  username: "user"
  password: "password"

production:
  username: "user"
  password: "password"

test:
  username: "user"
  password: "password"  